[Desktop Entry]
Name=Minetest
Comment=Minetes game!
Type=Application
Icon=misc/minetest.svg
Exec=minetest-startup.sh
Terminal=false
X-Ubuntu-Touch=true
